@import "tailwindcss";

:root {
  --background: #FDF8F3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  background: #FDF8F3;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

body {
  background: #FDF8F3;
  color: #171717;
}


.name-hover {
  position: relative;
  display: inline-block;
}

.name-hover:hover::after {
  content: 'आयुष'; /* Hindi script for Ayush */
  position: absolute;
  left: 0;
  top: 0;
  color: inherit;
  background: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-hover:hover span {
  visibility: hidden;
}
